body {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  font-size: 24px;
  font-weight: 600;
}

a {
  text-decoration: none;
  
}


.tasks__list {
  list-style-type:decimal;
  color:darkolivegreen
}

.battle{
  color:tomato;
}

.snake{
  color:darkgreen;
}